* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
}

:root {
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

.container {
  max-width: 1400px;
  padding: 0 1rem;
  margin: auto;
  overflow: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 1.5rem 0;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  line-height: 1.6;
  color: var(--grayish-blue);
}
/* Utilities */
.btn {
  display: inline-block;
  padding: 0.8rem 2rem;
  cursor: pointer;
  font-size: 0.7rem;
  text-align: center;
  outline: none;
  border: none;
}

.btn-primary {
  background: var(--lime-green);
  background: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
  color: var(--white);
  border-radius: 25px;
}

.btn-sm {
  max-width: 100px;
}

/* NavBar */
#main-nav {
  position: relative;
  background: var(--white);
  height: 70px;
  z-index: 4;
}

#main-nav .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main-nav .nav-list ul {
  display: flex;
}

#main-nav .nav-list ul li {
  padding: 0 0.5rem;
}

#main-nav ul li a {
  color: var(--grayish-blue);
  font-size: 0.9rem;
  font-weight: 900;
}
/* Main: Header */
#main-header {
  background: var(--very-light-gray) url("./images/bg-intro-desktop.svg")
    no-repeat right/ 900px 800px;
  background-position: right -200px bottom -80px;
  height: 60vh;
  position: relative;
  z-index: 3;
}

#main-header .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
}

#main-header .left-header {
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  justify-content: center;
}

#main-header .left-header h1 {
  line-height: 1.4;
  font-weight: 500;
  letter-spacing: 1px;
}

#main-header img {
  width: 650px;
  position: absolute;
  top: -115px;
  right: -120px;
}

/* About */
#about {
  background: var(--light-grayish-blue);
  padding: 4rem 0;
  position: relative;
  z-index: 2;
}

#about .about-info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
}

#about .about-info img {
  width: 50px;
}

#about .about-info h3 {
  margin-top: 1.5rem;
}
/* Articles */
#articles {
  background: var(--very-light-gray);
  padding: 4rem 0;
}

#articles .article {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;
  margin-top: 3rem;
}

#articles .article article {
  background: var(--white);
  display: grid;
  grid-template-columns: 1fr;
  transition: transform 0.5s;
}

#articles .article article:hover {
  transform: scale(1.1);
}

#articles .article p {
  margin: 0;
}

#articles .article img {
  width: 100%;
  height: 100%;
}

#articles .article .write-up {
  padding: 2rem;
}

#articles .article .write-up h4 {
  margin: 1rem 0;
}

/* Footer */
#main-footer {
  background: var(--dark-blue);
  padding: 3rem 0;
}

#main-footer .container {
  display: flex;
  justify-content: space-between;
}

#main-footer .logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#main-footer .logos ul {
  display: flex;
}

#main-footer .logos ul li {
  padding-right: 0.7rem;
}

#main-footer .about ul li {
  padding: 0.5rem 0;
}

#main-footer .contact ul li {
  padding: 0.5rem 0;
}

#main-footer a {
  color: var(--white);
  font-size: 0.9rem;
}

#main-footer ul li a {
  color: var(--grayish-blue);
}
